body
{
	font-size: 20px;
	text-align: justify;
	background-color: black;
}
.espaco
{
	padding: 25px;
	margin:5px 0 0 0;
}
.foto
{
	height: 200px;
	weight: 200px;
	border: 5px solid white;
	border-radius: 50%;
	background-color: white;
}
.icone
{
	height: 50px;
	weight: 50px;
	margin: 5px 10px 0 0;
	border: 1px solid white;
	border-radius: 50%;
	background-color: white;
}